<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New people</title>
</head>
<body>
<form th:method="POST" th:action="@{/people/p}" th:object="${persModel}">
    <label for="lab">New person, name:</label>
    <input type="text" th:field="*{name}" id="lab">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label for="lab2">Age:</label>
    <input type="text" th:field="*{age}" id="lab2">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <label for="lab3">Email:</label>
    <input type="text" th:field="*{email}" id="lab3">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>